<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yongoe.ecy.system.mapper.LoginMapper">

    <resultMap id="LoginMap" type="com.yongoe.ecy.system.entity.User">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="enabled" property="enabled"/>

        <result column="identityType" property="identityType"/>
        <result column="identifier" property="identifier"/>
        <result column="credential" property="credential"/>
    </resultMap>

    <select id="getUserByIdentifier" resultMap="LoginMap">
        SELECT *
        FROM sys_user a
                 LEFT JOIN sys_user_auths b ON a.id = b.user_id
        where b.identifier = #{identifier}
    </select>

    <select id="getUserByCredential" resultMap="LoginMap">
        SELECT *
        FROM sys_user a
                 LEFT JOIN sys_user_auths b ON a.id = b.user_id
        where b.credential = #{credential}
    </select>

</mapper>