<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yongoe.ecy.system.mapper.LogMapper">

    <!--    获取分页数据-->
    <select id="getLogByPage" resultType="com.yongoe.ecy.system.entity.Log">
        select id,
        name,
        type,
        title,
        details,
        create_time,
        update_time,
        create_by,
        update_by
        from sys_log
        <where>
            <if test="log.name != null and log.name != ''">
                and name = #{log.name}
            </if>
        </where>
        order by create_time desc
    </select>

</mapper>