<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yongoe.ecy.basic.mapper.LetterMapper">

    <!--    获取分页数据-->
    <select id="getLetterByPage" resultType="com.yongoe.ecy.basic.entity.Letter">
        select id,addresser_id,addresser,addressee_id,addressee,title,state,create_time,update_time,create_by,update_by
        from basic_letter
        <where>
            <if test="null != letter.id">
                and id = #{letter.id}
            </if>
            <if test="null != letter.addresserId">
                and addresser_id = #{letter.addresserId}
            </if>
            <if test="null != letter.addresser and ''!=letter.addresser">
                and addresser LIKE CONCAT('%',#{letter.addresser  },'%')
            </if>
            <if test="null != letter.addresseeId">
                and addressee_id = #{letter.addresseeId}
            </if>
            <if test="null != letter.addressee and ''!=letter.addressee">
                and addressee LIKE CONCAT('%',#{letter.addressee  },'%')
            </if>
            <if test="null != letter.title and ''!=letter.title">
                and title LIKE CONCAT('%',#{letter.title  },'%')
            </if>
            <if test="null != letter.content and ''!=letter.content">
                and content LIKE CONCAT('%',#{letter.content  },'%')
            </if>
            <if test="null != letter.state ">
                and state = #{letter.state  }
            </if>
            <if test="null != letter.createTime">
                and create_time = #{letter.createTime}
            </if>
            <if test="null != letter.updateTime">
                and update_time = #{letter.updateTime}
            </if>
            <if test="null != letter.createBy  ">
                and create_by = #{letter.createBy  }
            </if>
            <if test="null != letter.updateBy ">
                and update_by = #{letter.updateBy  }
            </if>
        </where>
        order by id desc
    </select>

</mapper>